
$Background-Color: #F0F0F0;
$Text-Color: #333333;

$Blue-Background: #0C344D;
$Text-On-Blue: #FFFFFF;

$Theme-Color: #F8C423;

$Login-form-Background: lighten($Blue-Background, 5%);



$Standard-Font-family: "Titillium Web", Arial, Helvetica, Verdana,Tahoma, sans-serif;
$Standard-Font-size: 16px;
$Standard-Font-weight: 400;

$Code-Font-family: 'Source Code Pro', monospace;
$Code-Font-size: 1rem;
$Code-Font-weight: 400;

@mixin standard-font-regular {
    font-family: $Standard-Font-family;
    font-size: $Standard-Font-size;
    font-optical-sizing: auto;
    font-weight: $Standard-Font-weight;
}

@mixin code-font-regular {
    font-family: $Code-Font-family;
    font-size: $Code-Font-size;
    font-optical-sizing: auto;
    font-weight: $Code-Font-weight;
}