@use "SCSS/normalize";
@use "SCSS/variables";

body, html {
    @include variables.code-font-regular;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: variables.$Background-Color;
    color: variables.$Text-Color;
    *  {
        transition: all 0.5s ease-in-out;
    }
}

#blue-background {
    background-color: variables.$Blue-Background;
    color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: 10rem;
    height: 10rem;

    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0,0, 0.2);
    background-color: variables.$Theme-Color;

    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

#site__center {
    display: grid;
    justify-items: center;
    align-items: center;
    
    gap: 20px;
    padding: 20px;

    border: 1px solid variables.$Theme-Color;
    border-radius: 10px;
    background-color: variables.$Login-form-Background;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

    h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    label {
        font-weight: lighter;
        margin-top: 5px;
    }
    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;

        &:focus {
            border-color: variables.$Theme-Color;
            outline: none;
            
            outline: none;
            box-shadow: 0 0 5px rgba(248, 196, 35, 0.5);

            &::placeholder {
                opacity: 0.0;
                transition: opacity 0.3s ease;
            }

        }
    }

    button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: bold;
        margin-top: 10px;

        &:hover {
            background-color: darken(variables.$Theme-Color, 10%);
            box-shadow: 0 0 5px rgba(248, 196, 35, 0.5);
            color: white;
            scale: 1.05;
            transition: all 0.2s ease-in-out;
        }
    }
}

.error-message {
    color: red;
    font-weight: bold;
}

#topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: variables.$Blue-Background;
    color: white;
    transition: all 0s ease-in-out;
}